$shadow: 0 5px 10px 0 #929292;

.main {
  position: relative;

  padding: 3px 15px;

  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 10px #000000;

  border-radius: 30px;

  .toolbox_container {
    position: absolute;
    top: 0;
    left: -25%;

    width: 150%;
    height: fit-content;

    margin-top: 27px;

    .pointer {
      position: absolute;
      top: 0;
      left: 45%;

      width: 10px;
      height: 10px;

      transform: rotate(45deg);

      background-color: #ffffff;
      box-shadow: $shadow;
    }

    .toolbox {
      position: relative;

      width: 100%;
      height: 100%;

      margin-top: 5px;
      padding: 10px;

      border-radius: 10px;

      background-color: #ffffff;
      box-shadow: $shadow;

      li {
        list-style: none;
        color: #000000;
        text-shadow: none;
      }
    }
  }
}

.normal {
  background-color: #A8A77A;
}

.fighting {
  background-color: #C22E28;
}

.flying {
  background-color: #A98FF3;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.rock {
  background-color: #B6A136;
}

.bug {
  background-color: #A6B91A;
}

.ghost {
  background-color: #735797;
}

.steel {
  background-color: #B7B7CE;
}

.fire {
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.grass {
  background-color: #7AC74C;
}

.electric {
  background-color: #F7D02C;
}

.psychic {
  background-color: #F95587;
}

.ice {
  background-color: #96D9D6;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.fairy {
  background-color: #D685AD;
}

.stellar {
  background: linear-gradient(45deg, rgba(255,0,191,1) 0%, rgba(149,0,255,1) 17%, rgba(0,18,255,1) 34%, rgba(0,230,255,1) 51%, rgba(0,255,71,1) 68%, rgba(255,248,0,1) 83%, rgba(255,0,0,1) 100%);

}

.unknown {
  background-color: #648f79;
}
