<li
  class="main"
  [ngClass]="type.name"
  (mouseenter)="toggleToolbox(true)"
  (mouseleave)="toggleToolbox(false)"
  (click)="openPopup()"
>
  {{ (typeFrenchName !== "" ? typeFrenchName : type.name) | uppercase }}

  @if (showToolbox) {
    <div class="toolbox_container">
      <div class="pointer"></div>
      <div class="toolbox">
        <ul>
          <li>
            <lucide-icon name="chevrons-right" size="20" class="chevron"></lucide-icon>
            <div class="dots">
              @for (item of typeDetails.damage_relations.double_damage_to; track $index) {
                <div class="dot" [ngClass]="item.name"></div>
              }
            </div>
          </li>

          <li>
            <lucide-icon name="chevron-right" size="20" class="chevron"></lucide-icon>
            <div class="dots">
              @for (item of typeDetails.damage_relations.half_damage_to; track $index) {
                <div class="dot" [ngClass]="item.name"></div>
              }
            </div>
          </li>

          <hr color="#d8d8d8" />

          <li>
            <lucide-icon name="chevrons-left" size="20" class="chevron"></lucide-icon>
            <div class="dots">
              @for (item of typeDetails.damage_relations.double_damage_from; track $index) {
                <div class="dot" [ngClass]="item.name"></div>
              }
            </div>
          </li>

          <li>
            <lucide-icon name="chevron-left" size="20" class="chevron"></lucide-icon>
            <div class="dots">
              @for (item of typeDetails.damage_relations.half_damage_from; track $index) {
                <div class="dot" [ngClass]="item.name"></div>
              }
            </div>
          </li>
        </ul>
      </div>
    </div>
  }
</li>

@if (showPopup) {
  <app-popup (onClose)="closePopup()">
    <section class="popup_content">
      <h2 class="main" [ngClass]="type.name">{{ (typeFrenchName !== "" ? typeFrenchName : type.name) | uppercase }}</h2>

      <section class="text">
        <article>
          <h3>Inflige double dégâts à :</h3>

          <ul>
            @if (typeDetails.damage_relations.double_damage_to.length === 0) {
              <li>Aucun</li>
            }

            @for (item of typeDetails.damage_relations.double_damage_to; track $index) {
              <app-pokemon-type [type]="item" [disablePopups]="true"></app-pokemon-type>
            }
          </ul>
        </article>

        <article>
          <h3>Inflige la moitié des dégâts à :</h3>

          <ul>
            @if (typeDetails.damage_relations.half_damage_to.length === 0) {
              <li>Aucun</li>
            }

            @for (item of typeDetails.damage_relations.half_damage_to; track $index) {
              <app-pokemon-type [type]="item" [disablePopups]="true"></app-pokemon-type>
            }
          </ul>
        </article>

        <article>
          <h3>Subit double dégâts face à :</h3>

          <ul>
            @if (typeDetails.damage_relations.double_damage_from.length === 0) {
              <li>Aucun</li>
            }

            @for (item of typeDetails.damage_relations.double_damage_from; track $index) {
              <app-pokemon-type [type]="item" [disablePopups]="true"></app-pokemon-type>
            }
          </ul>
        </article>

        <article>
          <h3>Subit la moitié des dégâts face à :</h3>

          <ul>
            @if (typeDetails.damage_relations.half_damage_from.length === 0) {
              <li>Aucun</li>
            }

            @for (item of typeDetails.damage_relations.half_damage_from; track $index) {
              <app-pokemon-type [type]="item" [disablePopups]="true"></app-pokemon-type>
            }
          </ul>
        </article>

        <article>
          <h3>N'inflige aucun dégât à :</h3>

          <ul>
            @if (typeDetails.damage_relations.no_damage_to.length === 0) {
              <li>Aucun</li>
            }

            @for (item of typeDetails.damage_relations.no_damage_to; track $index) {
              <app-pokemon-type [type]="item" [disablePopups]="true"></app-pokemon-type>
            }
          </ul>
        </article>

        <article>
          <h3>Ne subit aucun dégât face à :</h3>

          <ul>
            @if (typeDetails.damage_relations.no_damage_from.length === 0) {
              <li>Aucun</li>
            }

            @for (item of typeDetails.damage_relations.no_damage_from; track $index) {
              <app-pokemon-type [type]="item" [disablePopups]="true"></app-pokemon-type>
            }
          </ul>
        </article>
      </section>
    </section>
  </app-popup>
}
