@if (pageIsLoading) {
  <app-loading></app-loading>
}
@else if (!pokemon) {
  <div class="not_found">
    <h1>Pokémon introuvable!</h1>

    <button>
      <a routerLink="">Revenir à la liste</a>
    </button>
  </div>
}
@else {
  <main>
    <section class="top_section">
      <section class="img_section">
        <article>
          <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name" />
        </article>
      </section>
      <section>
        <article>
          <h1>{{ pokemonFrenchName | titlecase }}</h1>
          <ul class="types">
            @for (type of pokemon.types; track $index) {
              <app-pokemon-type [type]="type.type"></app-pokemon-type>
            }
          </ul>
        </article>
        <article class="basic_infos">
          <ul>
            <li>
              <div class="title">
                <p>Expérience de base</p>
              </div>
              <div class="slash"></div>
              <div>
                <p>{{ pokemon.base_experience }}</p>
              </div>
            </li>
            <li>
              <div class="title">
                <p>Taille</p>
              </div>
              <div class="slash"></div>
              <div>
                <p>{{ pokemon.height | height }}</p>
              </div>
            </li>
            <li>
              <div class="title">
                <p>Poids</p>
              </div>
              <div class="slash"></div>
              <div>
                <p>{{ pokemon.weight | weight }}</p>
              </div>
            </li>
          </ul>

          <div class="description">
            <p>{{ pokemonDescription }}</p>
          </div>
        </article>

      </section>
    </section>

    <app-pokemon-abilities [pokemon]="pokemon"></app-pokemon-abilities>

    <section>
      <app-evolution-chain [pokemonName]="pokemon.name"></app-evolution-chain>
    </section>
  </main>
}
