@if (pageIsLoading) {
  <app-loading></app-loading>
}
@else if (!pokemon) {
  <div class="not_found">
    <h1>Pokémon introuvable!</h1>

    <button>
      <a routerLink="">Revenir à la liste</a>
    </button>
  </div>
}
@else {
  <main>
    <section class="top_section">
      <section class="img_section">
        <article>
          <img [src]="pokemonImgSrc" [alt]="pokemon.name" />
        </article>
      </section>
      <section>
        <article>
          <h1>{{ pokemon.name | titlecase }}</h1>
          <ul class="types">
            @for (type of pokemon.types; track $index) {
              <app-pokemon-type [type]="type.type"></app-pokemon-type>
            }
          </ul>
        </article>
        <article class="basic_infos">
          <ul>
            <li>Expérience de base : {{ pokemon.base_experience }}</li>
            <li>Taille : {{ pokemon.height | height }}</li>
            <li>Poids : {{ pokemon.weight | weight }}</li>
          </ul>
        </article>
        <article class="abilities">
          <h2>Talents</h2>
          <ul>
            @for (ability of pokemon.abilities; track $index) {
              <li>
                {{ ability.ability.name | titlecase }}
                @if (ability.is_hidden) {
                  <span>(caché)</span>
                }
              </li>
            }
          </ul>
        </article>
        <article class="moves">
          <h2>Capacités</h2>
          <ul>
            @for (move of pokemon.moves; track $index) {
              <li>{{ move.move.name.replace("-", " ") | titlecase }}</li>
            }
          </ul>
        </article>
      </section>
    </section>

    <section>
      <h2>Chaîne d'évolution</h2>
    </section>
  </main>
}
