.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 80vh;

  h1 {
    font-size: 50px;
    color: #cc0000;
  }

  button {
    appearance: none;
    border: none;

    margin: 20px;
    padding: 10px 40px;

    border-radius: 40px;
    background-color: #cf4141;

    &:hover {
      cursor: pointer;
      background-color: #cc0000;
    }

    a {
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
    }
  }
}

main {
  margin: 20px;
  padding: 40px;

  border-radius: 10px;
  background-color: #f0f0f0;

  section {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    article {
      flex: 1;

      h1 {
        color: #cc0000;
        font-size: 50px;
      }

      ul {
        display: flex;
        gap: 5px;

        list-style: none;

        li {
          padding: 3px 15px;

          color: #ffffff;
          font-weight: bold;
          text-shadow: 0 0 10px #000000;

          border-radius: 30px;
        }

        .normal {
          background-color: #A8A77A;
        }

        .fighting {
          background-color: #C22E28;
        }

        .flying {
          background-color: #A98FF3;
        }

        .poison {
          background-color: #A33EA1;
        }

        .ground {
          background-color: #E2BF65;
        }

        .rock {
          background-color: #B6A136;
        }

        .bug {
          background-color: #A6B91A;
        }

        .ghost {
          background-color: #735797;
        }

        .steel {
          background-color: #B7B7CE;
        }

        .fire {
          background-color: #EE8130;
        }

        .water {
          background-color: #6390F0;
        }

        .grass {
          background-color: #7AC74C;
        }

        .electric {
          background-color: #F7D02C;
        }

        .psychic {
          background-color: #F95587;
        }

        .ice {
          background-color: #96D9D6;
        }

        .dragon {
          background-color: #6F35FC;
        }

        .dark {
          background-color: #705746;
        }

        .fairy {
          background-color: #D685AD;
        }

        .stellar {
          background: linear-gradient(45deg, rgba(255,0,191,1) 0%, rgba(149,0,255,1) 17%, rgba(0,18,255,1) 34%, rgba(0,230,255,1) 51%, rgba(0,255,71,1) 68%, rgba(255,248,0,1) 83%, rgba(255,0,0,1) 100%);

        }

        .unknown {
          background-color: #648f79;
        }
      }
    }
  }
}
