<h2>Évolutions</h2>

@if (evolutionChain.length > 0) {
  <ul class="one_evolution_chain">
    @for (evolution of evolutionChain; track $index) {
      <app-evolution-condition [evolutionDetails]="evolution.evolution_details"></app-evolution-condition>

      <app-pokemon-list-item
      [pokemon]="evolution.species"
      [reloadPage]="true"
      [active]="evolution.species.name === pokemonName"
      ></app-pokemon-list-item>
    }
  </ul>
}

@if (evolutions.length > 0) {
  <ul class="multiple_evolution_chain">
    @for (cell of evolutions; track $index) {
      <li>
        <ul>
          @for (evolution of cell; track $index) {
            <app-evolution-condition [evolutionDetails]="evolution.evolution_details"></app-evolution-condition>

            <app-pokemon-list-item
            [pokemon]="evolution.species"
            [reloadPage]="true"
            [active]="evolution.species.name === pokemonName"
            ></app-pokemon-list-item>
          }
        </ul>
      </li>
    }
  </ul>
}
