.one_evolution_chain {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-top: 20px;
  padding: 10px;

  border-radius: 5px;
  background-color: #d8d8d8;
}

.multiple_evolution_chain {
  list-style: none;

  li {
    ul {
      display: flex;
      justify-content: center;
      gap: 20px;

      margin-top: 20px;
      padding: 10px;

      border-radius: 5px;
      background-color: #d8d8d8;
    }
  }
}
