$shadow: 4px 4px 5px 0 #a8a8a8;
$height: 120px;

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;

  font-size: 50px;

  height: 100%;

  span {
    position: relative;
    color: #cc0000;

    .tooltip_container {
      position: absolute;
      top: -($height - 20px);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: $height;

      color: #3a3a3a;

      .tooltip {
        width: fit-content;
        height: calc($height - 10px);

        padding: 10px;

        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: $shadow;

        p {
          white-space: nowrap;
          font-size: 12px;
        }
      }

      .pointer {
        position: absolute;
        bottom: 0;
        left: 35%;

        width: 15px;
        height: 15px;

        transform: rotate(45deg);

        background-color: #ffffff;
        box-shadow: $shadow;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
