<section>
  <button>
    <lucide-angular name="chevrons-left" size="18" class="chevron"></lucide-angular>
  </button>
  <button>
    <lucide-angular name="chevron-left" size="18" class="chevron"></lucide-angular>
  </button>
  <button class="current" disabled>1</button>
  <button>2</button>
  <button>3</button>
  <button>4</button>
  <button>5</button>
  <button>...</button>
  <button>
    <lucide-angular name="chevron-right" size="18" class="chevron"></lucide-angular>
  </button>
  <button (click)="getLastPage()">
    <lucide-angular name="chevrons-right" size="18" class="chevron"></lucide-angular>
  </button>
</section>
