<section>
  <div class="nav_left">
    @if (currentPage > 1) {
      <button (click)="getFirstPage()">
        <lucide-angular name="chevrons-left" size="18" class="chevron"></lucide-angular>
      </button>
      <button (click)="getPreviousPage()">
        <lucide-angular name="chevron-left" size="18" class="chevron"></lucide-angular>
      </button>
    }
  </div>

  <div class="pages">
    @for (page of currentPages; track $index) {
      <button [ngClass]="{ 'current': currentPage === page }" [disabled]="currentPage === page" (click)="getPage(page)">
        {{page}}
      </button>
    }

    <button>...</button>
  </div>

  @if (currentPage < totalPages) {
    <div class="nav_right">
      <button (click)="getNextPage()">
        <lucide-angular name="chevron-right" size="18" class="chevron"></lucide-angular>
      </button>
      <button (click)="getLastPage()">
        <lucide-angular name="chevrons-right" size="18" class="chevron"></lucide-angular>
      </button>
    </div>
  }
</section>
