footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;

  background-color: #cc0000;

  p,
  a {
    color: #ffffff;
    text-decoration: none;
  }

  a {
    font-weight: bold;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
